/* .main {
/* background-image: url("../bg.jpg"); */
/* background-size: 100% 100% ;
background-position-y:10%;
background-repeat: no-repeat;
height: 100vh;
display: flex;
align-items: center;
justify-content:center;
} */ 


.blur {
	overflow: hidden;
	position: relative;

}

.blurry {
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
	content: '';
	filter: blur(4px);
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
    z-index: -2000;
	
}

img {
	display: block;
	width: 50%;
    height: 100vh;
}

.overlay {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	color: white;
	display: flex;
	font-size: 20px;
	height: 100%;
	padding: 20px 120px;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	/* z-index: 1; */

	
	
}