.main {
background-image: url("../bg.jpg");
background-size: 100% 100% ;
background-position-y:10%;
background-repeat: no-repeat;
height: 100vh;
display: flex;
align-items: center;
justify-content:center;
}

